 <div class="contentarea" id="rightColumn">
        <div class="pageTitle hide">
            <h1>Dashboard</h1>
        </div>

<div class="mainWrapper dashboardWrapper">
     <div class="panelWrapper">
		 <div class="col-md-12">
             <div class="col-md-6">

		<!-- My Folio view-->
		
			<div class="panel" ui-view="myFolios"></div>
		
			<!-- Trending folios-->
		
			<div class="panel" ui-view="trendingFolios"></div>
		
		    <div class="panel" ui-view="anlalystRecommendations"></div>
		
			
		</div>
		
		    <div class="col-md-6">
                        
                       <div class="panel lightGreen" ui-view="topFolios"></div>
                        
                        <!-- Recommended folios-->
		
						<div class="panel" ui-view="recommendedFolios"></div>
						
						 <div class="panel red">
                            <div class="panelHeader">Latest Posts</div>
                            <div class="panelBody latestPosts">
								<div class="row">
									<ul class="folioList">
										<li><span class="fa fa-angle-right "></span><p>SBI Hit all time high</p></li>
										<li><span class="fa fa-angle-right "></span><p>RBI reduced interest rates</p></li>
										<li><span class="fa fa-angle-right "></span><p>Reat Estate folio doing so well</p></li>
										<li><span class="fa fa-angle-right "></span><p>Invest your money in stock market</p></li>
									</ul>
								</div>
								<div class="row buttonWrapper"><a href="#" class="btn btn-primary btn-sm pull-right">See more</a></div>
							</div>
                        </div>
						
						  
                  
                  
                    </div>
                </div>
	
	</div>
	</div>
 
	</div>

</div>


